@charset "UTF-8";

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
} 
body {
    background-image: url('img/woman.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
header {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.43);
    backdrop-filter: blur(10px);
}
main {
    background-color: white;
    max-width: 700px;
    text-align: justify;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.549);
}
h1 {
    text-align: center;
    text-shadow: 1px 1px 8px blueviolet;
    padding: 10px;
    font-weight: 200;
}
h2 {
    padding: 10px;
    font-weight: 200;
}
p {
    background-color: rgba(250, 235, 215, 0.435);
    text-indent: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
ul {
    display: flex;
    gap: 2.5rem;
}
li {
    display: block;
    transition: .5s;
}
ul:hover li {
    filter: blur(2px);
}
ul li:hover {
    filter: blur(0px);
}
ul, li {
    display: flow-root;
    align-content: center;
    justify-content: center;
    padding: 10px;
}
#hamburguer {
    background-color: transparent;
    color: #732b6b;
    cursor: pointer;
    display: block;
    text-align: end;
    padding: 10px;
    font-weight: 900;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.557);
}
nav {
    background-color: transparent;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
#navbar > ul {
    list-style-type: none;
}
#navbar > ul > li > a {
    text-transform: uppercase;
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: 1s;
    font-weight: bolder;
}
#navbar > ul > li > a:hover {
    color: #931d55;
    transition: .5s;
}
::-webkit-scrollbar {
    display: none;
}