@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
*::selection {
    
    background-color: rgba(95, 6, 177, 0.265);
}
body {
    background-color: rgba(95, 6, 177, 0.265);
    font-family: 'Cormorant Garamond', serif;
}
#background {
    display: block;
    background: url("img/background-inicial-diganao.jpg") no-repeat center center fixed;
    width: 100%;
    height: 85vh;
    border-bottom-left-radius: 464mm 40mm;
}
header {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    padding: 20px;
}
header h1 a {
    margin-right: auto;
    color: white;
    text-decoration: none;
}
li > a {
    text-decoration: none;
    color: white;
}
/* header {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.133);
    backdrop-filter: blur(10px);
} */
/* main {
    background-color: whitesmoke;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.14);
} */
h2 {
    color: white;
    font-size: 50px;
    text-align: left;
    width: 300px;
    line-height: 40px;
    padding-left: 40px;
    padding-top: 200px;
}
ul {
    display: flex;
    gap: 2.5rem;
}
li {
    display: block;
    transition: .5s;
}
ul:hover li {
    filter: blur(2px);
}
ul li:hover {
    filter: blur(0px);
}
ul, li {
    display: flow-root;
    align-content: center;
    justify-content: center;
}
#burguer {
    background-color: transparent;
    font-weight: lighter;
    color: white;
    cursor: pointer;
}
nav {
    background-color: transparent;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
#navbar > ul {
    list-style-type: none;
}
#navbar > ul > li > a {
    text-transform: uppercase;
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: 1s;
}
#navbar > ul > li > a:hover {
    color: #931d55;
    transition: .5s;
}


figure > img {
    display: block;
    width: 320px;
    height: 320px;
    margin: auto;
    padding-top: 20px;
}
figcaption {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
}
figure > p {
    font-size: 20px;
    width: 338px;
    margin: auto;
    padding-bottom: 20px;
}
#btnbar {
    background-color: rgba(150, 57, 237, 0.404);
    border: none;
    padding: 10px;
}
#btnbar:hover {
    background: transparent;
    border: 1px solid;
    transition: 1s;
}
footer {
    background-color: aliceblue;
    height: 300px;
    padding: 37px;
}
#denuncie {
    font-size: 17px;
    font-weight: lighter;
    padding: 10px;
}
#footer, #seulugar {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}
#footer > li > a {
    color: gray;
    font-size: 20px;
    text-decoration: underline;
}
#footer  > li {
    display: block;
    text-align: left;
}
::-webkit-scrollbar {
    display: none;
}

