@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
::selection {
    background-color: rgba(95, 6, 177, 0.265);
}
::-webkit-scrollbar {
    display: none;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* APRESENTAÇÃO */
section#apresentacao {
    background: url('/img/Background/mulher-bg.jpg') no-repeat center center fixed;
    border-bottom-left-radius: 464mm 40mm;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.521);
}
div#background {
    width: 100%;
    height: 85vh;
}
header {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    padding: 20px;
}
header h1 a {
    margin-right: auto;
    color: white;
    text-decoration: none;
}
li > a {
    text-decoration: none;
    color: white;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */


/* NOSSAS SEÇÕES */

#nossa-missao {
    text-align: center;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */



h2 {
    color: white;
    font-size: 50px;
    text-align: left;
    width: 300px;
    line-height: 40px;
    padding-left: 40px;
    padding-top: 200px;
}
ul {
    display: flex;
    gap: 2.5rem;
}
li {
    display: block;
    transition: .5s;
}
ul:hover li {
    filter: blur(2px);
}
ul li:hover {
    filter: blur(0px);
}
ul, li {
    display: inline-block;
    padding: 10px;
}
#burguer {
    background-color: transparent;
    font-weight: lighter;
    color: white;
    cursor: pointer;
    user-select: none;
}
nav {
    display: none;

    background-color: #732b6b;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    font-size: 19px;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 0px;
    z-index: 1;
}
#navbar > ul {
    list-style-type: none;
}
#navbar > ul > li > a {
    text-transform: uppercase;
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: 1s;
}
#navbar > ul > li > a:hover {
    color: #931d55;
    transition: .5s;
}
figure > img {
    display: block;
    width: 320px;
    height: 320px;
    margin: auto;
    padding-top: 20px;
}
figcaption {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
}
figure > p {
    font-size: 20px;
    width: 338px;
    margin: auto;
    padding-bottom: 20px;
}
.formulario {
    max-width: 1200px;
    margin: 0 auto;
}
.denuncia-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.117);
    padding: 2rem;
}
.denuncia-form label,
.denuncia-form input,
.denuncia-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.denuncia-form button {
    background-color: #732b6b;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}
.denuncia-form button:hover {
    background-color: #931d55;
}
input, select {
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.261);
    transition: 1s;
}
input:hover {
    box-shadow: 0px 2px 4px #732b6b57;
    transition: 1s;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.suporte {
    text-align: center;
    margin-top: 1rem;
}
span {
    color: red;
}
#btnbar {
    background-color: rgba(150, 57, 237, 0.404);
    border: none;
    padding: 10px;
}
#btnbar:hover {
    background: transparent;
    border: 1px solid;
    transition: 1s;
}


/* RODAPÉ */
footer {
    background-color: aliceblue;
    height: 300px;
    padding: 37px;
}
#denuncie {
    font-size: 17px;
    font-weight: lighter;
    padding: 10px;
}
#footer, #seulugar {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}
#footer > li > a {
    color: gray;
    font-size: 20px;
    text-decoration: underline;
}
#footer  > li {
    display: block;
    text-align: left;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */